%-*-erlang-*-
#{
  site_url => "http://www.erlangpatterns.org",
  license_url => "https://creativecommons.org/licenses/by/4.0/",
  license_title => "Creative Commons Attribution 4.0 International",
  github_url => "https://github.com/gar1t/erlang-patterns",
  gitrepo_url => "https://github.com/gar1t/erlang-patterns"
 }.
